.image-album {
    margin-bottom: 50px;
    margin-top: 10px;
}

.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 100px;
    margin-right: 10px;
    filter: opacity(50%);
}

.thumbnail:hover{
    cursor: pointer;
    filter: opacity(100%);
    transition: all 0.5s;
}

.selected-image {
    width: 100%;
    margin-bottom: 10px;
}

.selected-image img {
    width: 30%;
    margin: 10px auto;
    display: block;
}

/* Mobile: */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .thumbnail {
        width: 25%;
    }

    .selected-image img{
        width: 100%;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 959px) { /**/ }

/* Desktop */
@media only screen
and (min-device-width : 960px) { /**/ }
