.loading-bar-container {
    height: 80vh;
    position: relative;
}

.pagination-container {
    display: flex;
    column-gap: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
    color: #FF6D4A;
    font-family: 'gilroy-light', sans-serif;
}

.pagination-container .active-page-link {
    font-family: 'gilroy-bold';
}

.pagination-container .page-link:hover {
    cursor: pointer;
}