.post-form {
    width: 50%;
    margin: 2rem auto;
    background-color: #FF6D4A;
    padding: 3rem;
}

.post-form .form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-form .form-group label {
    font-family: 'gilroy-light', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}

.post-form .form-group input,
.post-form .form-group textarea,
.post-form .form-group select {
    font-size: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #FFB49B;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'gilroy-light', sans-serif;
    width: 100%;
}

.post-form .form-group select {
    color: #FFB49B;
}

.post-form .form-group input::placeholder,
.post-form .form-group textarea::placeholder,
.post-form .form-group select::placeholder {
    color: #FFB49B;
}

.post-form .form-group input.title-input-box {
    font-family: 'gilroy-bold', sans-serif;
}

.post-form .form-group input:focus,
.post-form .form-group select:focus,
.post-form .form-group textarea:focus {
    outline: none;
}

.post-form .submit-button {
    background-color: #DBDBDB;
    color: #FF7244;
    font-size: 2rem;
    font-family: 'gilroy-bold', sans-serif;
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.post-form .submit-button:hover,
.post-form .form-group select:hover {
    cursor: pointer;
}

.post-form .submit-button:hover {
    background-color: #FFFFFF;
    transition: all 0.5s;
}

.post-form .button-group {
    display: flex;
    justify-content: right;
}

/* Mobile: */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .post-form {
        width: 80%;
        padding: 1rem;
    }

    .post-form .form-group input,
    .post-form .form-group textarea,
    .post-form .form-group select {
        font-size: 1.5rem;
        margin: 0px;
    }

    .post-form .button-group {
        padding-top: 2rem;
        justify-content: center;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 959px) { /**/ }

/* Desktop */
@media only screen
and (min-device-width : 960px) { /**/ }
