.share-button-container {
    display: flex;
    justify-content: right;
}

.share-button-container .share-button {
    width: 2em;
    height: 2em;
    color: #FF6D4A;
}

.share-button-container .share-button:hover {
    cursor: pointer;
    color: #fa531b;
    transition: all 0.5s;
}