.not-found-container {
    background-color: #FFFFFF;
    padding: 2rem;
    box-shadow: 1px 1px 5px 1px #d8d8d8;
    font-family: 'helvetica-light', sans-serif;
    font-size: 1rem;
    color: #333333;
    line-height: 1.3rem;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.not-found-container .not-found-icon {
    color: #FF6D4A;
    font-size: 5rem;
    margin-top: 15rem;
    margin-bottom: 5rem;   
}

.not-found-container .tag-line {
    margin-bottom: 15rem;
}

.not-found-container .tag-line a {
    color: #FF6D4A;
    text-decoration: none;
}

.not-found-container .tag-line a:hover {
    color: #fa531b;
    transition: all 0.5s;
}