.nugget-container.show {
    display: flex;
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px #d8d8d8;
    font-family: 'helvetica-light', sans-serif;
    font-size: 1rem;
}

.nugget-container .close-button-container {
    padding-top: 3px;
    padding-left: 10px;
}

.nugget-container .close-button-container .close-button:hover {
    cursor: pointer;
}

.nugget-container.hide {
    display: none;
}