.dot-flashing {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #FF6D4A;
    color: #FF6D4A;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #FF6D4A;
    color: #FF6D4A;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #FF6D4A;
    color: #FF6D4A;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #FF6D4A;
    }
    50%, 100% {
        background-color: #fcd2c8;
    }
}