.post {
    background-color: #FFFFFF;
    padding: 2rem;
    box-shadow: 1px 1px 5px 1px #d8d8d8;
    font-family: 'helvetica-light', sans-serif;
    font-size: 1rem;
    color: #333333;
    line-height: 1.3rem;
    width: 50%;
    margin: 2rem auto;
}

.post .title {
    font-size: 1.5rem;
    font-family: 'gilroy-bold', sans-serif;
}

.post .description {
    font-size: 1rem;
    line-height: 1.3rem;
    white-space: pre-line;
}

.post .post-type,
.post .title,
.post .description {
    margin-bottom: 10px;
}

.post a {
    color: #FF6D4A;
    text-decoration: none;
}

.post a:hover {
    color: #fa531b;
    transition: all 0.5s;
}

/* Mobile: */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) { 
    .post {
        width: 70%;
        overflow-wrap: break-word;
    }
 }

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 959px) { /**/ }

/* Desktop */
@media only screen
and (min-device-width : 960px) { /**/ }

/* Fold */
@media only screen 
and (min-device-width : 280px) 
and (max-device-width : 319px) { /**/ }