.nav-bar ul {
    width: 50%;
    margin: 0 auto;
}

.nav-bar ul li {
    margin-top: 4em;
    list-style-type: none;
}

.nav-bar ul li.logo a{
    color: #333333;
    font-family: 'gilroy-bold', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-decoration: none;
}

.nav-bar ul li.logo .dot{
    color: #FF7244;
}

.add-post-button {
    background-color: #FF7244;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    right: 4rem;
    bottom: 4rem;
}

.add-post-button:hover {
    cursor: pointer;
    background-color: #fa531b;
    transition: all 0.5s;
}

.add-post-button a {
    color: #FFFFFF;
    font-family: 'gilroy-bold', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 100%;
}

/* Mobile: */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .nav-bar ul {
        width: 100%;
    }

    .add-post-button {
        right: 2rem;
        bottom: 2rem;
    }

    .nav-bar ul li.logo {
        margin: 2rem auto;
        text-align: center;
    }

    .nav-bar ul li.logo a {
        font-size: 3rem;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 959px) { 
    .nav-bar ul {
        width: 100%;
    }

    .add-post-button {
        right: 2rem;
        bottom: 2rem;
    }

    .nav-bar ul li.logo {
        margin: 2rem auto;
        text-align: center;
    }

    .nav-bar ul li.logo a {
        font-size: 3rem;
    }
}

/* Desktop */
@media only screen
and (min-device-width : 960px) { /**/ }
