.upload-image-container {
    width: 50%;
    margin: 2rem auto;
    background-color: #FF6D4A;
    padding: 3rem;
}

.upload-image-container .banner {
    color: #FFFFFF;
    font-family: 'gilroy-bold', sans-serif;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.upload-image-container .instructions {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-family: 'gilroy-light', sans-serif;
    color: #FFFFFF;
}

.upload-image-container .submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.upload-image-container .submit-button-container .submit-button {
    background-color: #DBDBDB;
    color: #FF7244;
    font-size: 2rem;
    font-family: 'gilroy-bold', sans-serif;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
}

.upload-image-container .submit-button-container .submit-button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    transition: all 0.3s;
}

.upload-image-container .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    border: dotted #FFFFFF 2px;
    border-radius: 15px;
    padding: 3rem;
    background-color: #FE8D7A;
}

.upload-image-container .form-group .error-message {
    text-align: center;
    background-color: rgb(179, 44, 44);
    color: #FFFFFF;
    padding: 15px;
    margin: 0rem 2rem 2rem 2rem;
}

.upload-image-container .form-group img{
    margin: 3rem auto;
    width: 25%;
}

.upload-image-container .form-group label.input-image-button {
    margin: 0 auto;
    cursor: pointer;
    background-color: #DBDBDB;
    padding: 15px;
    border-radius: 15px;
    color: #FF6D4A;
    font-family: 'gilroy-bold', sans-serif;
    font-size: 2rem;
}

.upload-image-container .form-group label.input-image-button:hover {
    background-color: #FFFFFF;
}

.upload-image-container .form-group .images-selected {
    color: #FFFFFF;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'gilroy-light', san;
}

.upload-image-container .form-group label.input-image-button input {
    display: none;
}

/* Mobile: */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .upload-image-container {
        width: 70%;
        padding: 2rem;
    }

    .upload-image-container .form-group {
        margin-top: 2rem;
    }

    .upload-image-container .instructions {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .upload-image-container .form-group .images-selected {
        font-size: 0.8rem;
    }

    .upload-image-container .submit-button-container .submit-button {
        font-size: 1.5rem;
        width: 160px;
    }

    .upload-image-container .form-group label.input-image-button {
        font-size: 1.5rem;
    }
}

/* Tablet: */
@media only screen
and (min-device-width : 641px)
and (max-device-width : 959px) { /**/ }

/* Desktop */
@media only screen
and (min-device-width : 960px) { /**/ }
